{% extends "base.html.twig" %}

{% block body %}
	{% for post in posts %}
	<div class="post">
		<h3>{{ post.title }}<small>2012/02/21</small></h3>
		<p>{{ post.content|raw }}</p>
	</div>
	{% endfor %}
{% endblock %}