<html>
    <head>
        <meta charset="UTF-8">
		<title>FAAL | thecloudsareburning.com</title>
        <link rel="stylesheet" href="/assets/vendor/foundation/css/foundation.css">
        <link rel="stylesheet" href="/assets/css/clouds.css">
        <script src="/assets/vendor/modernizr/modernizr.js"></script>
    </head>
	<body>
		<header>
			<h1>FAAL | thecloudsarburning.com</h1>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Biography</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Live</a></li>
					<li><a href="#">Media</a></li>
					<li><a href="#">Store</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<section id="articles">
				<article>
					<header>
						<h2>European tour!</h2>
						<p>Published: <time pubdate="pubdate">2011-10-09</time></p>
					</header>
					<p>In October two of the finest European funeral doom metal bands are teaming up together to embark on a 10 day trek through the central part of the continent. Germany’s Worship (Weird Truth Records) and The Netherlands’ Faal (Ván Records) are set to depress and annihilate the population.</p>
					<footer>
						<small>link to something else perhaps?</small>
					</footer>
				</article>
				<article>
					<header>
						<h2>Album release!</h2>
						<p>Published: <time pubdate="pubdate">2011-10-09</time></p>
					</header>
					<p>Our new album ‘The clouds are burning’ will be released in march 2012</p>
					<p>In the meantime, check out the albumteaser here:</p>
					<footer>
						<small>link to something else perhaps?</small>
					</footer>
				</article>
			</section>
		</div>
	</body>
</html>