<html>
    <head>
        <meta charset="UTF-8">
		<title>{% block title %}FAAL | thecloudsareburning.com{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/assets/vendor/foundation-sites/dist/foundation.css">
        <link rel="stylesheet" href="/assets/css/clouds.css">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="/assets/vendor/modernizr/modernizr.js"></script>
    </head>
	
	<body>
		<div class="top">
			<div class="row column header">
				<div class="row column centerContent">
					<h1 class="logoImg">FAAL</h1>
				</div>
				<div class="row column">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/page/bio">Biography</a></li>
						<li><a href="/page/contact">Contact</a></li>
						<li><a href="/page/contact">Discography</a></li>
						<li><a href="/page/live">Live</a></li>
						<li><a href="/page/media">Media</a></li>
						<li><a href="/page/store">Store</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row content">
			{% block body %}{% endblock %}
		</div>
        {% block javascripts %}{% endblock %}
	</body>
</html>
