{% extends "base.html.twig" %}

{% block body %}
	<div class="medium-8 columns page">
		<div class="pageContent discography">
			<h3>Discography</h2>
			
			<div class="row columns">
				<h4>Dark Matter split EP <small>(2015)</small></h4>
				<div class="row">
					<div class="large-6 columns">
						<img src="/assets/images/discography/darkmatter.jpg" class="discoCover">
					</div>
					<div class="large-6 columns discography">
						<ol>
							<li>Eye of Solitude - Obsequies</li>
							<li>Faal - Shattered Hope</li>
						</ol>
					</div>
				</div>
			</div>
			
			<div class="row columns">
				<h4>The Clouds Are Burning <small>(2012)</small></h4>
				<div class="row">
					<div class="large-6 columns">
						<img src="/assets/images/discography/clouds.jpg" class="discoCover">
					</div>
					<div class="large-6 columns discography">
						<ol>
							<li>My Body Glows Red</li>
							<li>The Insistence's Wish</li>
							<li>Tempest</li>
							<li>The Clouds Are Burning</li>
						</ol>
					</div>
				</div>
			</div>
			
			<div class="row columns">
				<h4>Abhorrence - Salvation <small>(2008)</small></h4>
				<div class="row">
					<div class="large-6 columns">
						<img src="/assets/images/discography/abhorrence_salvation.jpg" class="discoCover">
					</div>
					<div class="large-6 columns discography">
						<ol>
							<li>00:00</li>
							<li>In My Final Hour Of Grief</li>
							<li>The Scent of Withered Flowers</li>
							<li>Perpetual Solitude</li>
						</ol>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}