/**
 *
 *
 */
 
 // Color definitions
 $black: #000000;
 $border: #303030;
 $white: #aaaaaa;
 $red: #590f02;
 
 $header: $red;
  
 
body {
	background-color: black;
}

.row {
	margin-left: auto;
	margin-right: auto;
	
	&.content {
		max-width: 960px;
		padding-top: 20px;
		background-color: black;
		padding: 0;
	}
}

.columns {
	&.posts {
		.post {
			h3 {
				small {
					color: $header;
					font-size: 0.6em;
					margin-left: 10px;
				}
				
				color: $header;
				font-weight: bolder;
			}
			
			background-color: $black;
			border-bottom: 1px solid $border;
			margin-bottom: 20px;
			
			color: $white;
			font-size: 0.8em;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 15px;
			padding-top: 15px;
		}
		
		padding-top: 40px;
	}
}

.logoImg {
	background-image: url('/assets/images/header.png');
	
	width: 900px;
	height: 280px;
}

.header {
	max-width: 960px;
}

.top {
	background-color: #000000;
}


.menu {
	background-color: black;
	
	li {
		a {			color: white;}
		a:hover {	color: darkgrey;}
	}
}

.sidebar {
	background-color: darkslategrey;
}